$def with (error, todays_points, bad_ass_points_total, rewards, tasks, reward_form, snail_task_form, quail_task_form, watermelon_task_form, complete_task_form, purchase_reward_form, delete_task_form, delete_reward_form)

<title>Relocity</title>

    <a name="logout" href="/logout">Logout</a>
    <br>

    $if error:
        <span name="error">$error</span>

    <h4>Today's Points: <span name="todays_points">$todays_points</span></h4>
    <h4 name="bad_ass_points">Bad Ass Points Total: <span name="bad_ass_points_total">$bad_ass_points_total</span></h4>

    <table>
      <tr>
        <th>Reward</th>
        <th>Cost</th>
      </tr>
      $for reward in rewards:
      <tr>
        <td name='reward'>$reward.name</td>
        <td name='cost'>$reward.cost</td>
        <td>
            <form action="/purchase/$reward.name" method="post">
                $:purchase_reward_form.render()
            </form>
        </td>
        <td>
            <form action="/delete/reward/$reward.name" method="post">
                $:delete_reward_form.render()
            </form>
        </td>
      </tr>
    </table>
        Recommendation:
        <br>Have the reward's cost fall close to the monetary cost.
<form action="/create/reward" method="post">
$:reward_form.render()
</form>

    <table>
      <tr>
        <th>Task</th>
        <th>Size</th>
      </tr>
      $for task in tasks:
      <tr>
        $if is_snail(task):
          <td name='snail_task_name'>$task.name</td>
          <td>Snail</td>
          <td>
              <form action="/complete/task/$task.name" method="post">
                  $:complete_task_form.render()
              </form>
          </td>
          <td>
              <form action="/delete/task/$task.name" method="post">
                  $:delete_task_form.render()
              </form>
          </td>
        $elif is_quail(task):
          <td name='quail_task_name'>$task.name</td>
          <td>Quail</td>
          <td>
              <form action="/complete/task/$task.name" method="post">
                  $:complete_task_form.render()
              </form>
          </td>
          <td>
              <form action="/delete/task/$task.name" method="post">
                  $:delete_task_form.render()
              </form>
          </td>
        $else:
          <td name='watermelon_task_name'>$task.name</td>
          <td>Watermelon</td>
          <td>
              <form action="/complete/task/$task.name" method="post">
                  $:complete_task_form.render()
              </form>
          </td>
          <td>
              <form action="/delete/task/$task.name" method="post">
                  $:delete_task_form.render()
              </form>
          </td>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>
    </table>

Recommendation: Size your task by effort cost
<br>(Snail < Quail < Watermelon)
<form action="/create/task/snail" method="post">
    $:snail_task_form.render()
</form>
<form action="/create/task/quail" method="post">
    $:quail_task_form.render()
</form>
<form action="/create/task/watermelon" method="post">
    $:watermelon_task_form.render()
</form>
