$def with (rewards, reward_form, tasks, snail_task_form, quail_task_form)

<title>Velocity</title>

    <table>
      <tr>
        <th>Reward</th>
        <th>Cost</th>
      </tr>
      $for reward in rewards:
      <tr>
        <td name='reward'>$reward.name</td>
        <td name='cost'>$reward.cost</td>
      </tr>
      <tr>
<form action="/create/reward" method="post">
        <td>
$:reward_form.new_reward_name.render()
        </td>
        <td>
$:reward_form.new_reward_cost.render()
$:reward_form.submit_reward.render()
        </td>
</form>
      </tr>
    </table>

    <table>
      <tr>
        <th>Task</th>
        <th>Size</th>
      </tr>
      $for task in tasks:
      <tr>
        $if task.is_snail():
          <td name='snail_task_name'>$task.name</td>
          <td>Snail</td>
        $else:
          <td name='quail_task_name'>$task.name</td>
          <td>Quail</td>
      </tr>
      <tr>
<form action="/create/task/snail" method="post">
    <td>
$:snail_task_form.new_snail_task_name.render()
    </td>
    <td>
$:snail_task_form.submit_snail_task.render()
    </td>
</form>
      </tr>
      <tr>
<form action="/create/task/quail" method="post">
    <td>
$:quail_task_form.new_quail_task_name.render()
    </td>
    <td>
$:quail_task_form.submit_quail_task.render()
    </td>
</form>
      </tr>
    </table>
