$def with (bad_ass_points_total, rewards, reward_form, tasks, snail_task_form, quail_task_form, complete_task_form, purchase_reward_form)

<title>Velocity</title>

    <h3>Bad Ass Points Total: <span name="bad_ass_points_total">$bad_ass_points_total</span></h3>

    <table>
      <tr>
        <th>Reward</th>
        <th>Cost</th>
      </tr>
      $for reward in rewards:
      <tr>
        <td name='reward'>$reward.name</td>
        <td name='cost'>$reward.cost</td>
        <td>
            <form action="/purchase/$reward.name" method="post">
                $:purchase_reward_form.render()
            </form>
        </td>
      </tr>
    </table>
<form action="/create/reward" method="post">
$:reward_form.render()
</form>

    <table>
      <tr>
        <th>Task</th>
        <th>Size</th>
      </tr>
      $for task in tasks:
      <tr>
        $if task.is_snail():
          <td name='snail_task_name'>$task.name</td>
          <td>Snail</td>
          <td>
              <form action="/complete/task/$task.name" method="post">
                  $:complete_task_form.render()
              </form>
          </td>
        $else:
          <td name='quail_task_name'>$task.name</td>
          <td>Quail</td>
          <td>
              <form action="/complete/task/$task.name" method="post">
                  $:complete_task_form.render()
              </form>
          </td>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>
    </table>

<form action="/create/task/snail" method="post">
    $:snail_task_form.render()
</form>
<form action="/create/task/quail" method="post">
    $:quail_task_form.render()
</form>
